body {
  margin-top: auto;
  font-family: Times;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  width: 100%;
}

.suscribe {
  position: relative;
  margin-top: 40%;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

p.suscribe {
  display: block;
  text-align: center;
  font-size: 25px;
  margin-bottom: -3px;
}

input {
  font-size: 15px;
  padding: 3  px;
  text-align: left;
  display: inline-block;
  border-style: ridge;
  border-color: black;
  padding-right: 10px;
}

button{
  background-color: #DBA6C2;
  display: inline-block;
  border: none;
  color: white;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
}

.icons{
  color:#DBA6C2;
  text-align: center;
}

i{
  font-size: 25px;
  color:#DBA6C2;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.footer{
  position: relative;
  top: 50%;
  margin-top: 10%;
  text-align: center;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

a{
  color:#DBA6C2;
}

@media (min-width: 600px) {

  p.suscribe {
    display: inline-block;
    margin-top: none;
  }

  input{
    display: inline-block;
  }

  .icons{
    text-align: right;
    margin-right: 12px;
  }

  div.container{
    width: 100%;
  }

  .suscribe {
    position: relative;
    margin-top: 20%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    }

  div.footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
}
